@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: rgb(255, 252, 241);
}

#projects {
    background-color: hsl(0, 0%, 90%);
    border: 0.5em solid hsl(0, 0%, 90%);
    border-radius: 0.125em;
    text-align: center;
    margin: 0 auto;
    width: 95%;
}

#courses {
    background-color: hsl(58, 50%, 90%);
    border: 0.5em solid hsl(58, 50%, 90%);
    border-radius: 0.125em;
    text-align: center;
    margin: 0 auto;
    width: 95%;
}

#intro {
    background-color: hsl(238, 50%, 90%);
    border: 0.5em solid hsl(238, 50%, 90%);
    border-radius: 0.125em;
    text-align: center;
    margin: 0 auto;
    width: 95%;
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.largeTitle {
    font-size: 4em;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
}

.project {
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 80%);
    border: 1em solid hsl(0, 0%, 80%);
    border-radius: 0.25em;
    margin: 1em 0.25em;
    
    text-decoration: none;
    color: black;

    font-size: 1.5em;
}

.projectTitle {
    font-weight: bold;
}

.projectBanner {
    width: 100%;
    height: auto;
}

.projectImageAndTitle {
    flex: 2;
}

.projectDescription {
    flex: 8;
}

.projectCell {
    text-align: center;
    margin: 1em;
}

.centeredText {
    text-align: center;
}

.centered {
    margin: 0 auto;
}

.releasedProjectsContainer {
    text-align: center;
    background-color: hsl(125, 50%, 90%);
    border: 1em solid hsl(125, 50%, 90%);
    border-radius: 0.25em;
    margin: 1em 0;
}

.otherProjectsContainer {
    text-align: center;
    background-color: hsl(0, 50%, 90%);
    border: 1em solid hsl(0, 50%, 90%);
    border-radius: 0.25em;
    margin: 1em 0;
}

.extrabold {
    font-weight: 800;
}

.navbarContainer {
    display: flex;
    position: sticky;
    width: 95%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    top: 0;
    border: 0.5em solid hsl(0, 0%, 30%);

    background-color: hsl(0, 0%, 30%);
}

.navbar {
    display: flex;
    margin-left: auto;
}

.name {
    padding: 1em;
    color: white;
    font-weight: bold;
}

.navbarItem {
    padding: 1em;
    text-decoration: none;
    color: white;
}

.navbarItem:hover {
    background-color: hsl(0, 0%, 50%);
}

.noUnderline {
    text-decoration: none;
    color: white;
}

.subtitle {
    font-size: 3em;
}

.titleDescription {
    color: rgb(80, 80, 80);
}

.projectModal {
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1.0s ease;
}

.projectModalContent {    
    position: relative;
    background-color: hsl(0, 0%, 90%);
    padding: 1.5em;
    width: 90%;
    max-height: 100%;
    overflow: auto;
    transition: 0.5s ease;
}

.projectModalHeader {
    position: absolute;
    text-align: right;
    float: right;
    top: 0.05em;
    right: 0.25em;
    font-size: 3em;
    
    text-decoration: none;
    color: rgba(0, 0, 0, 0.2);
}
.projectModalHeader:hover {
    color: rgba(0, 0, 0, 0.8);
    transition: 0.2s ease;
}

.toolContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.toolImage {
    width: 6em;
    height: auto;
    padding: 1em;
}

.projectModalContainer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.projectModalVerticalContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

.projectModalBottomContainer {
    flex: 1;
    
    display: flex;
}

.projectModalLinks {
    padding: 1em;
    text-align: left;
}

.languages {
    color: green;
}

.frameworks {
    color: red;
}

.carouselContainer {
    display: flex;
    align-items: center;
    margin: 1em;
}

.carouselImage {
    background-color: white;
    width: auto;
    height: 200px;
    max-height: 100%;
}

.carouselArrow {
    text-decoration: none;
    color: darkgray;
    font-size: 40px;
    margin: 0 3px;
    padding: 6px;
}
.carouselArrow:hover {
    color: dimgray;
    border-radius: 1em;
    transition: 0.1s ease;
    background-color: rgba(0, 0, 0, 0.2)
}

.carouselArrowInactive {
    cursor: default;
    color: lightgray;
}
.carouselArrowInactive:hover {
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.0)
}

.link {
    font-weight: bold;
}

.soundcloudLink {
    color: orange;
    font-weight: bold;
}

.course {
    text-align: left;
    background-color: hsl(125, 50%, 90%);
    border: 1em solid hsl(125, 50%, 90%);
    border-radius: 0.25em;
    margin: 2em;
}

.profilePicture {
    border-radius: 50%;
    width: 10em;
    height: auto;
}

.profileName {
    font-size: 3em;
}

.links {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 3em;
    height: auto;
}

.profileLink {
    margin: 0 1em;
}
